<section class="navbar" style="opacity: 1;">
<div class="navbar-container">
  <div class="navbar-container-wrap w-container">
    <div class="navbar-wrapper">
      <a
        href="/"
        aria-current="page"
        class="navbar-brand w-nav-brand w--current"
        aria-label="home"
        ><div class="w-layout-hflex logo-text-wrap">
          <img
            width="56"
            sizes="(max-width: 1279px) 56px, (max-width: 1439px) 4vw, 56px"
            alt=""
            src="https://cdn.prod.website-files.com/687e1b47b6fbd918b48d3957/687f427194db99f13f4f75e2_White%20optioner%20logo.png"
            loading="lazy"
            srcset="
              https://cdn.prod.website-files.com/687e1b47b6fbd918b48d3957/687f427194db99f13f4f75e2_White%20optioner%20logo-p-500.png 500w,
              https://cdn.prod.website-files.com/687e1b47b6fbd918b48d3957/687f427194db99f13f4f75e2_White%20optioner%20logo-p-800.png 800w,
              https://cdn.prod.website-files.com/687e1b47b6fbd918b48d3957/687f427194db99f13f4f75e2_White%20optioner%20logo.png       884w
            "
            class="image-10"
          />
          <div class="text-block-9">Optioners</div>
        </div></a
      >
      <nav role="navigation" class="nav-menu-wrapper-2 w-nav-menu">
        <ul role="list" class="nav-menus-3 w-list-unstyled">
          <li class="nav-item">
            <div class="nav-link-wrap">
              <a
                href="/"
                aria-current="page"
                class="paragraph-8 nav-link w--current"
                >Home</a
              >
            </div>
          </li>
          <li
            data-w-id="47739a4d-215b-427a-274e-a7f539a911db"
            class="nav-item hide"
          >
            <div
              data-delay="400"
              data-hover="true"
              class="dropdown-l w-dropdown"
              style="max-width: 1240px"
            >
              <div
                class="nav-dropdown-toggle-3 w-dropdown-toggle"
                id="w-dropdown-toggle-0"
                aria-controls="w-dropdown-list-0"
                aria-haspopup="menu"
                aria-expanded="false"
                role="button"
                tabindex="0"
              >
                <a href="#" class="paragraph-11 nav-link">Challenges</a
                ><img
                  loading="lazy"
                  src="https://cdn.prod.website-files.com/687e1b47b6fbd918b48d3957/687e1b48b6fbd918b48d3a8a_Down%20-%203.svg"
                  alt=""
                  class="nav-dropdown-icon-2"
                />
              </div>
              <nav
                class="dropdown-list-conent-2 w-dropdown-list"
                style="display: block; width: 200px; height: 0px"
                id="w-dropdown-list-0"
                aria-labelledby="w-dropdown-toggle-0"
              >
                <div class="nav-dropdown-bg-2">
                  <div class="nav-dropdown-menu-list">
                    <a
                      href="/challenges/1-step-challenge"
                      class="paragraph-12 dropdown-link"
                      tabindex="0"
                      >Product name 1</a
                    ><a
                      href="/challenges/2-step-challenge"
                      class="paragraph-12 dropdown-link"
                      tabindex="0"
                      >Product name 2</a
                    >
                  </div>
                </div>
              </nav>
            </div>
          </li>
          <li
            data-w-id="18c4f11e-8238-67c4-ea2a-ae962b05c5f0"
            class="nav-item hide"
          >
            <div
              data-delay="400"
              data-hover="true"
              class="dropdown-l w-dropdown"
              style="max-width: 1240px"
            >
              <div
                class="nav-dropdown-toggle-3 w-dropdown-toggle"
                id="w-dropdown-toggle-1"
                aria-controls="w-dropdown-list-1"
                aria-haspopup="menu"
                aria-expanded="false"
                role="button"
                tabindex="0"
              >
                <a href="#" class="paragraph-11 nav-link">Trading</a
                ><img
                  loading="lazy"
                  src="https://cdn.prod.website-files.com/687e1b47b6fbd918b48d3957/687e1b48b6fbd918b48d3a8a_Down%20-%203.svg"
                  alt=""
                  class="nav-dropdown-icon-2 open"
                />
              </div>
              <nav
                class="dropdown-list-conent-2 w-dropdown-list"
                style="display: block; width: 200px; height: 0px"
                id="w-dropdown-list-1"
                aria-labelledby="w-dropdown-toggle-1"
              >
                <div class="nav-dropdown-bg-2">
                  <div class="nav-dropdown-menu-list">
                    <a
                      href="/options-explained"
                      class="paragraph-12 dropdown-link"
                      tabindex="0"
                      >Options explained</a
                    ><a href="#" class="paragraph-12 dropdown-link" tabindex="0"
                      >Soon</a
                    >
                  </div>
                </div>
              </nav>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link-wrap">
              <a href="#" class="paragraph-8 nav-link">FAQ</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link-wrap">
              <a href="/about-us" class="paragraph-8 nav-link">About us</a>
            </div>
          </li>
          <li class="mobile-margin-top-12">
            <div class="nav-button-wrapper-3 mobile">
              <a
                href="#"
                class="signin-link-3 w-inline-block"
                style="background-color: rgb(47, 50, 55)"
                ><div
                  class="signin-link-inner"
                  style="background-color: rgb(10, 10, 20)"
                >
                  <div class="paragraph-8">Sign in</div>
                </div>
                <div class="signin-link-outline" style="opacity: 0"></div></a
              ><a
                href="#"
                class="signup-link-3 w-inline-block"
                style="background-color: rgb(255, 255, 255)"
                ><div
                  class="signup-link-inner-2"
                  style="background-color: rgb(255, 255, 255)"
                >
                  <div
                    class="paragraph-8 signup-text"
                    style="color: rgb(0, 0, 0)"
                  >
                    Sign up
                  </div>
                </div>
                <div class="signup-link-outline-2" style="opacity: 0"></div
              ></a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="nav-right-wrap">
        <div class="nav-right">
          <div class="nav-button-wrapper">
            <a
              href="/sign-in"
              class="signin-link-4 w-inline-block"
              style="background-color: rgb(47, 50, 55)"
              ><div
                class="signin-link-inner"
                style="background-color: rgb(10, 10, 20)"
              >
                <div class="paragraph-13">Log in</div>
              </div>
              <div class="signin-link-outline" style="opacity: 0"></div></a
            ><a
              href="/sign-up"
              class="signup-link w-inline-block"
              style="background-color: rgb(255, 255, 255)"
              ><div
                class="signup-link-inner-3"
                style="background-color: rgb(255, 255, 255)"
              >
                <div
                  class="paragraph-13 signup-text"
                  style="color: rgb(0, 0, 0)"
                >
                  Get Funded
                </div>
              </div>
              <div class="signup-link-outline-3" style="opacity: 0"></div
            ></a>
          </div>
        </div>
        <div
          class="menu-button-4 w-nav-button"
          style="-webkit-user-select: text"
          aria-label="menu"
          role="button"
          tabindex="0"
          aria-controls="w-nav-overlay-0"
          aria-haspopup="menu"
          aria-expanded="false"
        >
          <div class="icon-5 w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
</section>

